
html{
	font-family: IRANSans-web, serif !important;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
.back-bg{
	background-image:url("../../../image/student/auth/auth.jpg") !important;

	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    font-family: IRANSans-web, serif !important;
}

.back-bg::after{
	content: "";
	top: 0;
	left: 0;
    
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background-color: rgba(62,69,81,.7);

}

h1{
	font-size:2em;
	margin:.67em 0
}


button,input,optgroup,select,textarea{
	color:inherit;
	font:inherit;
	margin:0
}
button{
	overflow:visible
}
button,select{
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled]{
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}
input{
	line-height:normal
}
input[type="checkbox"],input[type="radio"]{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
	height:auto
}
input[type="search"]{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none
}
fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend{
	border:0;
	padding:0
}
textarea{
	overflow:auto
}
optgroup{
	font-weight:bold
}
table{
	border-collapse:collapse;
	border-spacing:0
}
td,th{
	padding:0
}




input,button,select,textarea{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit
}
a{
	color:#337ab7;
	text-decoration:none
}
a:hover,a:focus{
	color:#23527c;
	text-decoration:underline
}
a:focus{
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
figure{
	margin:0
}
img{
	vertical-align:middle
}
.img-responsive{
	display:block;
	max-width:100%;
	height:auto
}
.img-rounded{
	border-radius:6px
}


.sr-only{
	position:absolute;
	width:1px;
	height:1px;
	margin:-1px;
	padding:0;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus{
	position:static;
	width:auto;
	height:auto;
	margin:0;
	overflow:visible;
	clip:auto
}
[role="button"]{
	cursor:pointer
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:inherit
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{
	font-weight:normal;
	line-height:1;
	color:#777
}
h1,.h1,h2,.h2,h3,.h3{
	margin-top:20px;
	margin-bottom:10px
}
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small{
	font-size:65%
}
h4,.h4,h5,.h5,h6,.h6{
	margin-top:10px;
	margin-bottom:10px
}
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small{
	font-size:75%
}
h1,.h1{
	font-size:36px
}
h2,.h2{
	font-size:30px
}
h3,.h3{
	font-size:24px
}
h4,.h4{
	font-size:18px
}
h5,.h5{
	font-size:14px
}
h6,.h6{
	font-size:12px
}
p{
	margin:0 0 10px
}






.btn:hover,.btn:focus,.btn.focus{
	color:#333;
	text-decoration:none
}
.btn:active,.btn.active{
	outline:0;
	background-image:none;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{
	cursor:not-allowed;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none
}
a.btn.disabled,fieldset[disabled] a.btn{
	pointer-events:none
}
.btn-default{
	color:#333;
	background-color:#fff;
	border-color:#ccc
}
.btn-default:focus,.btn-default.focus{
	color:#333;
	background-color:#e6e6e6;
	border-color:#8c8c8c
}
.btn-default:hover{
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
.btn-default:active:hover,.btn-default.active:hover,.open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open>.dropdown-toggle.btn-default.focus{
	color:#333;
	background-color:#d4d4d4;
	border-color:#8c8c8c
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
	background-image:none
}
.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus{
	background-color:#fff;
	border-color:#ccc
}
.btn-default .badge{
	color:#fff;
	background-color:#333
}
.btn-primary{
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4
}
.btn-primary:focus,.btn-primary.focus{
	color:#fff;
	background-color:#286090;
	border-color:#122b40
}
.btn-primary:hover{
	color:#fff;
	background-color:#286090;
	border-color:#204d74
}
.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#286090;
	border-color:#204d74
}
.btn-primary:active:hover,.btn-primary.active:hover,.open>.dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open>.dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open>.dropdown-toggle.btn-primary.focus{
	color:#fff;
	background-color:#204d74;
	border-color:#122b40
}
.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{
	background-image:none
}
.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus{
	background-color:#337ab7;
	border-color:#2e6da4
}
.btn-primary .badge{
	color:#337ab7;
	background-color:#fff
}
.btn-success{
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c
}
.btn-success:focus,.btn-success.focus{
	color:#fff;
	background-color:#449d44;
	border-color:#255625
}
.btn-success:hover{
	color:#fff;
	background-color:#449d44;
	border-color:#398439
}
.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{
	color:#fff;
	background-color:#449d44;
	border-color:#398439
}
.btn-success:active:hover,.btn-success.active:hover,.open>.dropdown-toggle.btn-success:hover,.btn-success:active:focus,.btn-success.active:focus,.open>.dropdown-toggle.btn-success:focus,.btn-success:active.focus,.btn-success.active.focus,.open>.dropdown-toggle.btn-success.focus{
	color:#fff;
	background-color:#398439;
	border-color:#255625
}
.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{
	background-image:none
}
.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus{
	background-color:#5cb85c;
	border-color:#4cae4c
}
.btn-success .badge{
	color:#5cb85c;
	background-color:#fff
}
.btn-info{
	color:#fff;
	background-color:#5bc0de;
	border-color:#46b8da
}
.btn-info:focus,.btn-info.focus{
	color:#fff;
	background-color:#31b0d5;
	border-color:#1b6d85
}
.btn-info:hover{
	color:#fff;
	background-color:#31b0d5;
	border-color:#269abc
}
.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info{
	color:#fff;
	background-color:#31b0d5;
	border-color:#269abc
}
.btn-info:active:hover,.btn-info.active:hover,.open>.dropdown-toggle.btn-info:hover,.btn-info:active:focus,.btn-info.active:focus,.open>.dropdown-toggle.btn-info:focus,.btn-info:active.focus,.btn-info.active.focus,.open>.dropdown-toggle.btn-info.focus{
	color:#fff;
	background-color:#269abc;
	border-color:#1b6d85
}
.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info{
	background-image:none
}
.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled.focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info.focus{
	background-color:#5bc0de;
	border-color:#46b8da
}
.btn-info .badge{
	color:#5bc0de;
	background-color:#fff
}
.btn-warning{
	color:#fff;
	background-color:#f0ad4e;
	border-color:#eea236
}
.btn-warning:focus,.btn-warning.focus{
	color:#fff;
	background-color:#ec971f;
	border-color:#985f0d
}
.btn-warning:hover{
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512
}
.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning{
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512
}
.btn-warning:active:hover,.btn-warning.active:hover,.open>.dropdown-toggle.btn-warning:hover,.btn-warning:active:focus,.btn-warning.active:focus,.open>.dropdown-toggle.btn-warning:focus,.btn-warning:active.focus,.btn-warning.active.focus,.open>.dropdown-toggle.btn-warning.focus{
	color:#fff;
	background-color:#d58512;
	border-color:#985f0d
}
.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning{
	background-image:none
}
.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus{
	background-color:#f0ad4e;
	border-color:#eea236
}
.btn-warning .badge{
	color:#f0ad4e;
	background-color:#fff
}
.btn-danger{
	color:#fff;
	background-color:#d9534f;
	border-color:#d43f3a
}
.btn-danger:focus,.btn-danger.focus{
	color:#fff;
	background-color:#c9302c;
	border-color:#761c19
}
.btn-danger:hover{
	color:#fff;
	background-color:#c9302c;
	border-color:#ac2925
}
.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger{
	color:#fff;
	background-color:#c9302c;
	border-color:#ac2925
}

.btn-link{
	color:#337ab7;
	font-weight:normal;
	border-radius:0
}
.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link{
	background-color:transparent;
	-webkit-box-shadow:none;
	box-shadow:none
}
.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{
	border-color:transparent
}
.btn-link:hover,.btn-link:focus{
	color:#23527c;
	text-decoration:underline;
	background-color:transparent
}
.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus{
	color:#777;
	text-decoration:none
}
.btn-lg,.btn-group-lg>.btn{
	padding:10px 16px;
	font-size:18px;
	line-height:1.3333333;
	border-radius:6px
}
.btn-sm,.btn-group-sm>.btn{
	padding:5px 10px;
	font-size:12px;
	line-height:1.5;
	border-radius:3px
}
.btn-xs,.btn-group-xs>.btn{
	padding:1px 5px;
	font-size:12px;
	line-height:1.5;
	border-radius:3px
}
.btn-block{
	display:block;
	width:100%
}
.btn-block+.btn-block{
	margin-top:5px
}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{
	width:100%
}
.fade{
	opacity:0;
	-webkit-transition:opacity .15s linear;
	-o-transition:opacity .15s linear;
	transition:opacity .15s linear
}
.fade.in{
	opacity:1
}
.collapse{
	display:none
}
.collapse.in{
	display:block
}
tr.collapse.in{
	display:table-row
}
tbody.collapse.in{
	display:table-row-group
}
.collapsing{
	position:relative;
	height:0;
	overflow:hidden;
	-webkit-transition-property:height,visibility;
	-o-transition-property:height,visibility;
	transition-property:height,visibility;
	-webkit-transition-duration:.35s;
	-o-transition-duration:.35s;
	transition-duration:.35s;
	-webkit-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	transition-timing-function:ease
}
.btn-group,.btn-group-vertical{
	position:relative;
	display:inline-block;
	vertical-align:middle
}
.btn-group>.btn,.btn-group-vertical>.btn{
	position:relative;
	float:left
}
.btn-group>.btn:hover,.btn-group-vertical>.btn:hover,.btn-group>.btn:focus,.btn-group-vertical>.btn:focus,.btn-group>.btn:active,.btn-group-vertical>.btn:active,.btn-group>.btn.active,.btn-group-vertical>.btn.active{
	z-index:2
}
.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{
	margin-left:-1px
}
.btn-toolbar{
	margin-left:-5px
}
.btn-toolbar .btn,.btn-toolbar .btn-group,.btn-toolbar .input-group{
	float:left
}
.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group{
	margin-left:5px
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
	border-radius:0
}
.btn-group>.btn:first-child{
	margin-left:0
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-bottom-right-radius:0;
	border-top-right-radius:0
}
.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child){
	border-bottom-left-radius:0;
	border-top-left-radius:0
}
.btn-group>.btn-group{
	float:left
}
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn{
	border-radius:0
}
.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle{
	border-bottom-right-radius:0;
	border-top-right-radius:0
}
.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child{
	border-bottom-left-radius:0;
	border-top-left-radius:0
}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{
	outline:0
}
.btn-group>.btn+.dropdown-toggle{
	padding-left:8px;
	padding-right:8px
}
.btn-group>.btn-lg+.dropdown-toggle{
	padding-left:12px;
	padding-right:12px
}
.btn-group.open .dropdown-toggle{
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn-group.open .dropdown-toggle.btn-link{
	-webkit-box-shadow:none;
	box-shadow:none
}
.btn .caret{
	margin-left:0
}
.btn-lg .caret{
	border-width:5px 5px 0;
	border-bottom-width:0
}
.dropup .btn-lg .caret{
	border-width:0 5px 5px
}
.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn{
	display:block;
	float:none;
	width:100%;
	max-width:100%
}
.btn-group-vertical>.btn-group>.btn{
	float:none
}
.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group{
	margin-top:-1px;
	margin-left:0
}
.btn-group-vertical>.btn:not(:first-child):not(:last-child){
	border-radius:0
}
.btn-group-vertical>.btn:first-child:not(:last-child){
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0
}
.btn-group-vertical>.btn:last-child:not(:first-child){
	border-top-right-radius:0;
	border-top-left-radius:0;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px
}
.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn{
	border-radius:0
}
.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle{
	border-bottom-right-radius:0;
	border-bottom-left-radius:0
}
.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child{
	border-top-right-radius:0;
	border-top-left-radius:0
}
.btn-group-justified{
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:separate
}
.btn-group-justified>.btn,.btn-group-justified>.btn-group{
	float:none;
	display:table-cell;
	width:1%
}
.btn-group-justified>.btn-group .btn{
	width:100%
}
.btn-group-justified>.btn-group .dropdown-menu{
	left:auto
}
[data-toggle="buttons"]>.btn input[type="radio"],[data-toggle="buttons"]>.btn-group>.btn input[type="radio"],[data-toggle="buttons"]>.btn input[type="checkbox"],[data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"]{
	position:absolute;
	clip:rect(0,0,0,0);
	pointer-events:none
}
.input-group{
	position:relative;
	display:table;
	border-collapse:separate
}
.input-group[class*="col-"]{
	float:none;
	padding-left:0;
	padding-right:0
}

a.label:hover,a.label:focus{
	color:#fff;
	text-decoration:none;
	cursor:pointer
}
.label:empty{
	display:none
}
.btn .label{
	position:relative;
	top:-1px
}
.label-default{
	background-color:#777
}
.label-default[href]:hover,.label-default[href]:focus{
	background-color:#5e5e5e
}
.label-primary{
	background-color:#337ab7
}
.label-primary[href]:hover,.label-primary[href]:focus{
	background-color:#286090
}
.label-success{
	background-color:#5cb85c
}
.label-success[href]:hover,.label-success[href]:focus{
	background-color:#449d44
}
.label-info{
	background-color:#5bc0de
}
.label-info[href]:hover,.label-info[href]:focus{
	background-color:#31b0d5
}
.label-warning{
	background-color:#f0ad4e
}
.label-warning[href]:hover,.label-warning[href]:focus{
	background-color:#ec971f
}
.label-danger{
	background-color:#d9534f
}
.label-danger[href]:hover,.label-danger[href]:focus{
	background-color:#c9302c
}
.jumbotron{
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:30px;
	color:inherit;
	background-color:#eee
}
.jumbotron h1,.jumbotron .h1{
	color:inherit
}
.jumbotron p{
	margin-bottom:15px;
	font-size:21px;
	font-weight:200
}

.container .jumbotron,.container-fluid .jumbotron{
	border-radius:6px;
	padding-left:15px;
	padding-right:15px
}
.jumbotron .container{
	max-width:100%
}
@media screen and (min-width:768px){
	.jumbotron{
		padding-top:48px;
		padding-bottom:48px
}
	.container .jumbotron,.container-fluid .jumbotron{
		padding-left:60px;
		padding-right:60px
}
	.jumbotron h1,.jumbotron .h1{
		font-size:63px
}
}
.list-group{
	margin-bottom:20px;
	padding-left:0
}
.list-group-item{
	position:relative;
	display:block;
	padding:10px 15px;
	margin-bottom:-1px;
	background-color:#fff;
	border:1px solid #ddd
}
.list-group-item:first-child{
	border-top-right-radius:4px;
	border-top-left-radius:4px
}
.list-group-item:last-child{
	margin-bottom:0;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px
}
a.list-group-item,button.list-group-item{
	color:#555
}
a.list-group-item .list-group-item-heading,button.list-group-item .list-group-item-heading{
	color:#333
}
a.list-group-item:hover,button.list-group-item:hover,a.list-group-item:focus,button.list-group-item:focus{
	text-decoration:none;
	color:#555;
	background-color:#f5f5f5
}
button.list-group-item{
	width:100%;
	text-align:left
}
.list-group-item.disabled,.list-group-item.disabled:hover,.list-group-item.disabled:focus{
	background-color:#eee;
	color:#777;
	cursor:not-allowed
}
.list-group-item.disabled .list-group-item-heading,.list-group-item.disabled:hover .list-group-item-heading,.list-group-item.disabled:focus .list-group-item-heading{
	color:inherit
}
.list-group-item.disabled .list-group-item-text,.list-group-item.disabled:hover .list-group-item-text,.list-group-item.disabled:focus .list-group-item-text{
	color:#777
}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{
	z-index:2;
	color:#fff;
	background-color:#337ab7;
	border-color:#337ab7
}
.list-group-item.active .list-group-item-heading,.list-group-item.active:hover .list-group-item-heading,.list-group-item.active:focus .list-group-item-heading,.list-group-item.active .list-group-item-heading>small,.list-group-item.active:hover .list-group-item-heading>small,.list-group-item.active:focus .list-group-item-heading>small,.list-group-item.active .list-group-item-heading>.small,.list-group-item.active:hover .list-group-item-heading>.small,.list-group-item.active:focus .list-group-item-heading>.small{
	color:inherit
}
.list-group-item.active .list-group-item-text,.list-group-item.active:hover .list-group-item-text,.list-group-item.active:focus .list-group-item-text{
	color:#c7ddef
}
.list-group-item-success{
	color:#3c763d;
	background-color:#dff0d8
}
a.list-group-item-success,button.list-group-item-success{
	color:#3c763d
}
a.list-group-item-success .list-group-item-heading,button.list-group-item-success .list-group-item-heading{
	color:inherit
}
a.list-group-item-success:hover,button.list-group-item-success:hover,a.list-group-item-success:focus,button.list-group-item-success:focus{
	color:#3c763d;
	background-color:#d0e9c6
}
a.list-group-item-success.active,button.list-group-item-success.active,a.list-group-item-success.active:hover,button.list-group-item-success.active:hover,a.list-group-item-success.active:focus,button.list-group-item-success.active:focus{
	color:#fff;
	background-color:#3c763d;
	border-color:#3c763d
}
.list-group-item-info{
	color:#31708f;
	background-color:#d9edf7
}
a.list-group-item-info,button.list-group-item-info{
	color:#31708f
}
a.list-group-item-info .list-group-item-heading,button.list-group-item-info .list-group-item-heading{
	color:inherit
}
a.list-group-item-info:hover,button.list-group-item-info:hover,a.list-group-item-info:focus,button.list-group-item-info:focus{
	color:#31708f;
	background-color:#c4e3f3
}
a.list-group-item-info.active,button.list-group-item-info.active,a.list-group-item-info.active:hover,button.list-group-item-info.active:hover,a.list-group-item-info.active:focus,button.list-group-item-info.active:focus{
	color:#fff;
	background-color:#31708f;
	border-color:#31708f
}
.list-group-item-warning{
	color:#8a6d3b;
	background-color:#fcf8e3
}
a.list-group-item-warning,button.list-group-item-warning{
	color:#8a6d3b
}
a.list-group-item-warning .list-group-item-heading,button.list-group-item-warning .list-group-item-heading{
	color:inherit
}
a.list-group-item-warning:hover,button.list-group-item-warning:hover,a.list-group-item-warning:focus,button.list-group-item-warning:focus{
	color:#8a6d3b;
	background-color:#faf2cc
}
a.list-group-item-warning.active,button.list-group-item-warning.active,a.list-group-item-warning.active:hover,button.list-group-item-warning.active:hover,a.list-group-item-warning.active:focus,button.list-group-item-warning.active:focus{
	color:#fff;
	background-color:#8a6d3b;
	border-color:#8a6d3b
}
.list-group-item-danger{
	color:#a94442;
	background-color:#f2dede
}
a.list-group-item-danger,button.list-group-item-danger{
	color:#a94442
}
a.list-group-item-danger .list-group-item-heading,button.list-group-item-danger .list-group-item-heading{
	color:inherit
}
a.list-group-item-danger:hover,button.list-group-item-danger:hover,a.list-group-item-danger:focus,button.list-group-item-danger:focus{
	color:#a94442;
	background-color:#ebcccc
}
a.list-group-item-danger.active,button.list-group-item-danger.active,a.list-group-item-danger.active:hover,button.list-group-item-danger.active:hover,a.list-group-item-danger.active:focus,button.list-group-item-danger.active:focus{
	color:#fff;
	background-color:#a94442;
	border-color:#a94442
}
.list-group-item-heading{
	margin-top:0;
	margin-bottom:5px
}
.list-group-item-text{
	margin-bottom:0;
	line-height:1.3
}
.embed-responsive{
	position:relative;
	display:block;
	height:0;
	padding:0;
	overflow:hidden
}
.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	height:100%;
	width:100%;
	border:0
}
.embed-responsive-16by9{
	padding-bottom:56.25%
}
.embed-responsive-4by3{
	padding-bottom:75%
}
.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after{
	content:" ";
	display:table
}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after{
	clear:both
}
.center-block{
	display:block;
	margin-left:auto;
	margin-right:auto
}
.pull-right{
	float:right!important
}
.pull-left{
	float:left!important
}
.hide{
	display:none!important
}
.show{
	display:block!important
}
.invisible{
	visibility:hidden
}
.text-hide{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0
}
.hidden{
	display:none!important
}
.affix{
	position:fixed
}
@-ms-viewport{
	width:device-width
}
.visible-xs,.visible-sm,.visible-md,.visible-lg{
	display:none!important
}
.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{
	display:none!important
}
@media(max-width:767px){
	.visible-xs{
		display:block!important
}
	table.visible-xs{
		display:table!important
}
	tr.visible-xs{
		display:table-row!important
}
	th.visible-xs,td.visible-xs{
		display:table-cell!important
}
}
@media(max-width:767px){
	.visible-xs-block{
		display:block!important
}
}
@media(max-width:767px){
	.visible-xs-inline{
		display:inline!important
}
}
@media(max-width:767px){
	.visible-xs-inline-block{
		display:inline-block!important
}
}
@media(min-width:768px) and (max-width:991px){
	.visible-sm{
		display:block!important
}
	table.visible-sm{
		display:table!important
}
	tr.visible-sm{
		display:table-row!important
}
	th.visible-sm,td.visible-sm{
		display:table-cell!important
}
}
@media(min-width:768px) and (max-width:991px){
	.visible-sm-block{
		display:block!important
}
}
@media(min-width:768px) and (max-width:991px){
	.visible-sm-inline{
		display:inline!important
}
}
@media(min-width:768px) and (max-width:991px){
	.visible-sm-inline-block{
		display:inline-block!important
}
}
@media(min-width:992px) and (max-width:1199px){
	.visible-md{
		display:block!important
}
	table.visible-md{
		display:table!important
}
	tr.visible-md{
		display:table-row!important
}
	th.visible-md,td.visible-md{
		display:table-cell!important
}
}
@media(min-width:992px) and (max-width:1199px){
	.visible-md-block{
		display:block!important
}
}
@media(min-width:992px) and (max-width:1199px){
	.visible-md-inline{
		display:inline!important
}
}
@media(min-width:992px) and (max-width:1199px){
	.visible-md-inline-block{
		display:inline-block!important
}
}
@media(min-width:1200px){
	.visible-lg{
		display:block!important
}
	table.visible-lg{
		display:table!important
}
	tr.visible-lg{
		display:table-row!important
}
	th.visible-lg,td.visible-lg{
		display:table-cell!important
}
}
@media(min-width:1200px){
	.visible-lg-block{
		display:block!important
}
}
@media(min-width:1200px){
	.visible-lg-inline{
		display:inline!important
}
}
@media(min-width:1200px){
	.visible-lg-inline-block{
		display:inline-block!important
}
}
@media(max-width:767px){
	.hidden-xs{
		display:none!important
}
}
@media(min-width:768px) and (max-width:991px){
	.hidden-sm{
		display:none!important
}
}
@media(min-width:992px) and (max-width:1199px){
	.hidden-md{
		display:none!important
}
}
@media(min-width:1200px){
	.hidden-lg{
		display:none!important
}
}
.visible-print{
	display:none!important
}
@media print{
	.visible-print{
		display:block!important
}
	table.visible-print{
		display:table!important
}
	tr.visible-print{
		display:table-row!important
}
	th.visible-print,td.visible-print{
		display:table-cell!important
}
}
.visible-print-block{
	display:none!important
}
@media print{
	.visible-print-block{
		display:block!important
}
}
.visible-print-inline{
	display:none!important
}
@media print{
	.visible-print-inline{
		display:inline!important
}
}
.visible-print-inline-block{
	display:none!important
}
@media print{
	.visible-print-inline-block{
		display:inline-block!important
}
}
@media print{
	.hidden-print{
		display:none!important
}
}

*[dir="ltr"]{
	direction:ltr;
	unicode-bidi:embed
}
*[dir="rtl"]{
	direction:rtl;
	unicode-bidi:embed
}
div:focus{
	outline:none
}
div>p:focus,div>p:hover{
	outline:none
}
.editable:focus,.editable:hover{
	outline:none;
	cursor:pointer;
	text-decoration:underline;
	text-decoration-style:dashed
}
.navbar{
	display:none
}
.header-mobile{
	display:none;
	font-size:13px!important;
	color:#6e6e6e;
	width:100%
}
.span-style{
	background:transparent;
	border:none;
	min-width:50px!important;
	max-width:99.99%!important;
	text-align:center!important
}
.span-style.editable{
	overflow:hidden;
	max-width:200px!important
}
html,body{
	min-height:100%;
	margin:0;
	overflow-y:auto
}
body{
	padding-top:20px;
	padding-bottom:20px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
button:hover{
	text-shadow:0 3px 6px rgba(50,50,93,.1),0 1px 2px rgba(0,0,0,.08)
}
body{
	font-family:'SDF'
}
[lang|="fa"] #username-input{
	font-family:'SDFOLD'!important
}
#continue-with{
	width:100%;
	margin-top:-10px;
	margin-bottom:0
}
.new-login-title{
	margin:10px 0 30px 0;
	color:#999
}
#continue{
	font:33px;
	color:#999;
	margin-right:65px;
	margin-left:65px;
	margin-bottom:30px;
	text-align:center
}
[lang|="fa"] #continue{
	margin-right:93px;
	margin-left:93px
}
#continue:before,#continue:after{
	border-bottom:1px solid #999;
	content:"";
	display:inline-block;
	position:relative;
	vertical-align:middle;
	width:50%;
	margin-bottom:.15em
}
#continue:before{
	right:.5em;
	margin-left:-50%
}
#continue:after{
	left:.5em;
	margin-right:-50%
}
input:required{
	box-shadow:none
}
input:invalid{
	box-shadow:none
}
.change-usertype{
	display:block
}
[lang|="fa"] .alert-container{
	text-align:right
}
[lang|="en"] .alert-container{
	text-align:left
}
.change-container{
	width:100%;
	height:40px
}
.change-container.chooser{
	margin-top:35px
}
.help-block{
	margin-top:0!important;
	margin-bottom:0!important
}
.help-block-sub{
	color:#aaa;
	font-size:1.2em;
	padding-bottom:40px;
	padding-right:50px;
	padding-left:50px
}
.background{
	padding:0!important;
	transition:1s ease all;
	-moz-transition:1s ease all;
	-webkit-transition:1s ease all;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden
}
.tribak{
	transition:1s ease all;
	-moz-transition:1s ease all;
	-webkit-transition:1s ease all;
	display:block
}
.header,.footer{
	padding-right:15px;
	padding-left:15px
}
.header h3{
	margin-top:0;
	margin-bottom:0;
	line-height:40px
}
.footer{
	padding-top:19px;
	color:#777;
	border-top:1px solid #e5e5e5
}
.options-container{
	padding:5px;
	margin-bottom:-50px
}

.imglogos{
	padding-top:2px;
	padding-right:2px;
	padding-left:2px
}





.btn-link:hover{
	text-decoration:none!important
}
.btn{
	border-radius:2px!important;
	padding:10px 10px!important
}
.btn-link{
	color:#027fa3
}
.btn-warning{
	color:#555!important;
	background-color:#ffcb04!important;
	border-color:#eea236;
	text-transform:uppercase;
	padding-top:15px!important
}
.jumbotron{
	width:450px;
	-webkit-box-shadow:0 0 15px 0 rgba(50,50,60,0.7);
	-moz-box-shadow:0 0 15px 0 rgba(50,50,60,0.7);
	box-shadow:0 0 15px 0 rgba(50,50,60,0.7);
	text-align:center;
	background-color:white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-perspective:1000;
	padding-bottom:0!important;
	padding-top:0;
	padding-right:0!important;
	padding-left:0!important;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:0!important
}
.jumbotron-welcome{
	width:480px;
	height:580px
}
[lang|="fa"] .jumbotron-welcome{
	text-align:right;
	align-items:initial
}
[lang|="en"] .jumbotron-welcome{
	text-align:left;
	align-items:initial
}
.inline-block{
	display:inline-block
}
#otpinput.dense,#pininput.dense,#pininputClone.dense,#otpinputecare.dense{
	margin-top:0!important;
	display:inline-block;
	float:right
}
.pininput-container{
	height:60px
}
[lang|="fa"] #otpinput.dense,[lang|="fa"] #pininput.dense,[lang|="fa"] #pininputClone.dense,[lang|="fa"] #otpinputecare.dense{
	float:left
}
.inner-container{
	width:85%
}
.inner-container-header{
	padding-top:20px;
	height:140px
}
.inner-container-body{
	height:210px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	overflow:hidden
}
.inner-container-rest{
	height:310px;
	display:flex;
	flex-direction:column;
	justify-content:center
}
.inner-container-footer{
	height:115px
}
.profile-shims{
	padding-top:25px
}
input.dense:focus ~ label,input.dense:valid ~ label{
	top:-20px;
	font-size:12px
}
.labelusername.dense{
	left:5px;
	top:5px;
	font-size:11px;
	font-weight:normal
}
.inputusername.dense{
	padding-top:0!important;
	padding-bottom:0!important
}
.inputusername.dense.confirm{
	padding-top:25px!important;
	text-align:center
}
.jumbotron p{
	font-size:17px;
	font-weight:normal!important
}
.glyphicon{
	color:#fff
}
form#signin-form{
	top:10%
}
[lang|="fa"] .btn-resend,.btn-key{
	font-size:11px!important
}
.btn-resend{
	padding:0!important;
	display:none;
	font-size:12px!important
}
.btn-key{
	padding:0!important;
	font-size:12px!important
}
.btn-otp{
	padding:0!important;
	font-size:12px!important;
	margin-top:15px!important
}
.btn-link.btn-resend,.btn-link.btn-key,.btn-link.btn-otp{
	background-color:aliceblue;
	margin-left:3px;
	margin-right:3px;
	margin-top:3px
}
.btn-warning{
	border-width:0!important
}
.btn-warning:hover{
}
.btn-nxt{
	margin-top:20px;
	position:relative;
	z-index:3;
	background:transparent;
	font-size:14px;
	padding:10px 40px;
	transition:all .2s linear;
	font-weight:700;
	color:#00aeef
}
.btn-hide{
	display:none
}
.btn-nxt span{
	cursor:pointer;
	display:inline-block;
	position:relative;
	transition:.4s linear
}
.btn-nxt span:after{
	content:'\00bb';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:.4s linear
}
.btn-nxt a{
	border-bottom:solid;
	border-width:1px;
	border-color:#E81F27
}
.btn-nxt:hover a{
	text-decoration:none;
	animation:glow 2s ease-in-out infinite alternate
}
.btn-nxt:hover span:after{
	opacity:1;
	right:0
}
.titling{
	padding-top:10px;
	clear:left;
	text-align:center!important
}
.titling.chooser{
	padding-bottom:0;
	padding-top:0;
	margin-bottom:35px!important
}
.inner-container.chooser{
	margin-top:-15px
}
.logo-container.chooser{
	margin-bottom:40px
}
[lang|="fa"] .titling{
	text-align:center
}
.jumbotron .btn-big{
	font-size:16px;
	margin-bottom:10px;
	width:55%;
	font-weight:bold
}
.btn-edt{
	position:relative;
	z-index:3;
	background:transparent;
	color:#333;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
	display:inline-block;
	position:relative;
	padding:0!important
}
.tel{
	font-weight:bold;
	color:#6e6e6e
}
.active_account{
	overflow:hidden;
	white-space:nowrap
}
.info-content.tel{
	direction:ltr
}
.btn-edt:hover a{
	text-decoration:none;
	animation:glow 2s ease-in-out infinite alternate;
	background-color:lightgray
}
.btn-edt:hover img{
	animation:glow 2s ease-in-out infinite alternate;
	background-color:lightgray;
	border-radius:20px
}
.getusername{
	position:relative
}
.inputusername{
	background:transparent;
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:2px solid #bbb
}
[lang|="fa"] .inputusername{
	text-align:left
}
input:focus{
	outline:none!important
}
button:focus{
	outline:none!important
}
.back-center{
	margin-right:30px;
	direction:ltr
}
.labelpin{
	color:#999;
	font-weight:normal;
	pointer-events:none;
	display:inline-block;
	float:left;
	padding-right:5px;
	padding-left:5px;
	display:inline-block;
	vertical-align:middle;
	padding-top:10px
}
[lang|="fa"] .labelpin{
	float:right
}
.labelusername{
	color:#999;
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:.4s ease all;
	-moz-transition:.4s ease all;
	-webkit-transition:.4s ease all
}
[lang|="fa"] .labelusername{
	right:5px;
	left:auto
}

h4.otptitle{
	margin:0!important
}
h5.otptitle{
	margin-bottom:15px
}
@media screen and (max-height:600px){
	.loginerror-container{
		border-radius:0!important
}
	.logo-container{
		display:flex;
		align-items:center;
		justify-content:center
}
	.jumbotron{
		height:100%;
		border-radius:0!important;
		overflow-x:hidden;
		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		justify-content:center
}
	.inside-jumbotron{
		margin-top:10px!important;
		padding:0;
		height:90%
}
	body,html{
		overflow:hidden;
		overflow-x:hidden;
		overflow-y:hidden
}
	::-webkit-scrollbar{
		display:none
}
	[lang|="fa"] .username-container{
	}
}
@media screen and (max-width:594px){
	.loginerror-container{
		border-radius:0!important
}
	.logo-container{
		display:flex;
		align-items:center;
		justify-content:center
}
	.jumbotron{
		height:100%;
		width:100%;
		border-radius:0!important;
		overflow-x:hidden;
		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		align-items:center;
		justify-content:center
}
	.inside-jumbotron{
		margin-top:10px!important;
		padding:0
}
	body,html{
		overflow:hidden;
		overflow-x:hidden;
		overflow-y:hidden
}
	::-webkit-scrollbar{
		display:none
}
	[lang|="fa"] .username-container{
	}
}
@media screen and (max-height:400px){
	.logo-container{
		display:none!important
}
}
@media screen and (max-width:470px){
	[lang|="fa"] .inputusername{
		left:auto!important;
		right:auto!important
}
	.labelusername{
		font-size:16px
}
	[lang|="fa"] .labelusername{
	}
}
@media screen and (max-width:320px){
	[lang|="fa"] .labelusername{
	}
	.labelusername{
		font-size:12px
}
}
input:focus ~ label,input:valid ~ label{
	top:-20px;
	font-size:14px;
	color:#027fa3;
	transition:.3s ease all;
	-moz-transition:.3s ease all;
	-webkit-transition:.3s ease all
}
.bar{
	position:relative;
	display:block;
	width:100%
}
.bar:before,.bar:after{
	content:'';
	height:2px;
	width:0;
	bottom:0;
	position:absolute;
	background:#027fa3;
	transition:.4s ease all;
	-moz-transition:.4s ease all;
	-webkit-transition:.4s ease all
}
.bar-error:before,.bar-error:after{
	content:'';
	height:2px;
	width:0;
	bottom:0;
	position:absolute;
	background:#d13139;
	transition:.4s ease all;
	-moz-transition:.4s ease all;
	-webkit-transition:.4s ease all
}
.bar:before{
	left:50%
}
.bar:after{
	right:50%
}
input:focus ~ .bar:before,input:focus ~ .bar:after{
	width:50%
}
.highlight{
	position:absolute;
	height:60%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:.5
}
[lang|="fa"] .highlight{
	left:auto;
	right:0
}
input:focus ~ .highlight{
	-webkit-animation:inputHighlighter .5s ease;
	-moz-animation:inputHighlighter .5s ease;
	animation:inputHighlighter .5s ease
}
@-webkit-keyframes inputHighlighter{
	from{
		background:#333
}
	to{
		width:0;
		background:transparent
}
}
@-moz-keyframes inputHighlighter{
	from{
		background:#333
}
	to{
		width:0;
		background:transparent
}
}
@keyframes inputHighlighter{
	from{
		background:#333
}
	to{
		width:0;
		background:transparent
}
}
.permission{
	margin-top:40px
}
.btn-next{
	margin-bottom:0!important;
	width:110px
}
.btn-next span{
	cursor:pointer;
	display:inline-block;
	position:relative;
	transition:.5s
}
.btn-next span:after{
	content:'\00bb';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:.5s
}
.btn-next:hover span{
	padding-right:25px
}
.btn-next:hover span:after{
	opacity:1;
	right:0
}





#otpinput,#pininput,#pininputClone,#nationalidinput,#otpinputecare{
	display:block;
	margin:0 auto;
	margin-top:10px;
	border:none;
	padding:0;
	width:8ch;
	background:repeating-linear-gradient(90deg,#027fa3 0,#027fa3 1ch,transparent 0,transparent 1.5ch) 0 100%/ 7.5ch 2px no-repeat;
	font:30px PIF,SDF;
	color:#027fa3;
	letter-spacing:.5ch
}

@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){
	#otpinput,#pininput,#pininputClone,#otpinputecare{
		display:block;
		margin:0 auto;
		margin-top:10px;
		border:none;
		padding:0;
		width:6ch;
		background:repeating-linear-gradient(90deg,#027fa3 0,#027fa3 1.7ch,transparent 1.2ch,transparent 2.2ch) 0 103%/ 8.2ch 4px no-repeat;
		font:30px PIF,SDF;
		color:#027fa3;
		letter-spacing:.5ch;
		min-width:95px
}
}
::placeholder{
	color:#bebebe!important
}
:-ms-input-placeholder{
	color:#bebebe!important;
	font-size:18px
}
:-ms-input-placeholder{
	color:#bebebe!important;
	font-size:18px
}



input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance:none;
	margin:0
}
footer.page-footer {
    bottom: 0;
    color: #fff;
    position: absolute;
    width: 100%;
}







/* تغییرات */



.back-link-arrow{
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 20px;

}
.fas.fa-arrow-left{
color: #2bbbad!important;

}



  .timer {
	width: 550px;
	height: 248px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -275px;
	margin-top: -124px;
	color: #2bbbad!important;
	z-index: -1;
  }
  .timer * {
	cursor: default;
  }
  .timer h3 {
	width: 100%;
	font-size: 26px;
	letter-spacing: 4px;
	text-align: center;
  }
  .timer--clock {
	
	position: relative;
	
	margin-top: 22px;
	overflow: hidden;
	left: 41%;
	top: 58%;
  }
  .timer--clock .clock-display-grp {
	width: 100%;
	position: relative;
  }
  .timer--clock .clock-display-grp .number-grp {
	width: auto;
	display: block;
	height: 156px;
	float: left;
	overflow: hidden;
  }
  .timer--clock .clock-display-grp .number-grp .number-grp-wrp {
	width: 100%;
	position: relative;
  }
  .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
	width: 100%;
	position: relative;
	height: 156px;
  }
  .timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
	width: auto;
	display: table;
	font-size: 30px;
	line-height: 150px;
	font-weight: bold;
  }
  .timer--clock .clock-separator {
	width: auto;
	float: left;
	display: block;
	height: 156px;
  }
  .timer--clock .clock-separator p {
	width: auto;
	display: table;
	font-size: 30px;
	line-height: 150px;
	font-weight: bold;
  }

  /* .reload {
	width: 125px;
	height: 14px;
	position: absolute;
	bottom: 50vh;
	left: 50%;
	margin-left: -62.5px;
	opacity: 0;
	display: none;
	cursor: pointer;
	z-index: 9999;
  }
  .reload:hover svg path {
	fill: #666666;
  }
  .reload:hover p {
	color: #666666;
  }
  .reload svg {
	width: 12px;
	height: 12px;
	float: left;
	margin-right: 10px;
  }
  .reload p {
	color: #2b2b2b;
	font-size: 12px;
	float: left;
	line-height: 11px;
  } */