@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #28a745;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url(..\..\..\image\student\dashboard\cancel.svg);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: right calc(0.375em + 0.1875rem);
    background-position-y: center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.invalid-feedback {

    width: 100%;
    margin-top: .25rem;
    margin-right: 5px;
    font-size: 13px;
	color: #dc3545;
}
.custom-select.is-valid~.valid-feedback, .custom-select.is-valid~.valid-tooltip, .form-control.is-valid~.valid-feedback, .form-control.is-valid~.valid-tooltip, .was-validated .custom-select:valid~.valid-feedback, .was-validated .custom-select:valid~.valid-tooltip, .was-validated .form-control:valid~.valid-feedback, .was-validated .form-control:valid~.valid-tooltip {
    display: block;
}
.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 13px;
    color: #28a745;
}
.custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}
li.list-li:nth-child(1){
    background-color: rgba(144, 229, 240, 0.63);
    border-radius: 10px;
    padding-right: 10px;
}
li.list-li:nth-child(2){
    background-color: rgb(180, 249, 218, 0.63);
    border-radius: 10px;
    padding-right: 10px;
}
li.list-li:nth-child(3){
    background-color: rgba(144, 229, 240, 0.63);
    border-radius: 10px;
    padding-right: 10px;
}
li.list-li:nth-child(4){
    background-color: rgb(180, 249, 218, 0.63);
    border-radius: 10px;
    padding-right: 10px;
}
.dropdown-radius {
    border-radius: 1.5em;
    border: 1px solid #ccc;
}
.file-radius {
    border-radius: 1.5em;
    border: 1px solid #ccc;
}
.dropdown-radius:focus{
    transition: .7s;
    box-shadow: 2px 3px 15px 0px rgba(52, 223, 224, 0.46), -1px 1px 7px 0px rgba(84, 152, 196, 0.06);
    border-color: #00bafa;
}
/*@media (min-width: 900px) {*/
    /*.col-float-left{*/
        /*float: left;*/
    /*}*/
    /*.col-float-right{*/
        /*float: right;*/
    /*}*/

/*}*/
.textarea-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
    display: block;
    width: 100%;

    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.number-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
.email-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
/* input style for dashboard    */
input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin-bottom: 15px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
}
/*file input style*/

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input[type="text"]:focus {
    transition: .7s;
    box-shadow: 2px 3px 15px 0px rgba(52, 223, 224, 0.46), -1px 1px 7px 0px rgba(84, 152, 196, 0.06);
    border-color: #00bafa;
}
input[type="text"]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"]:focus + label[placeholder]:before,
input[type="text"]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

/*Admin Dashboard questions*/
.question-img{
    border-radius: 10px;
    border: solid #b8c2cc;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}
.imgs:hover {
    transform: scale(1.5);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}


.answers{
    list-style: decimal;
}
.card-footer{
    padding: .75rem 1.25rem;
    background-image: linear-gradient(to right, rgba(96, 251, 155, 0.42), rgba(49, 201, 243, 0.6));

    border-top: 1px solid rgba(0,0,0,.125);
}
.card{
    box-shadow: rgba(81,125,133,0.25);
}
.bg-correct{
    background-color: #0ec545;
    transition: .7s ease-in-out;
}
.card-header{
    padding: .75rem 1.25rem;
    background-image: linear-gradient(to right, rgba(96, 251, 155, 0.42), rgba(49, 201, 243, 0.6));
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
div#nomargin1{
    margin-bottom: 0px !important;
}
img.hover-bright{
    transition: .7s;
}
img.hover-bright:hover{
    filter:brightness(140%);
}
@media screen and (min-width: 990px) {
    div#col-right{
        float: right;
    }
}
.label__checkbox {
    display: none;
}
.label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
}
.label__check i.icon {
    opacity: 0.2;
    font-size: calc(0.5rem + 0.6vw);
    color: transparent;
    transition: opacity 0.3s 0.1s ease;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}
.label__check:hover {
    border: 5px solid rgba(0, 0, 0, 0.2);
}
.label__checkbox:checked + .label__text .label__check {
    -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.label__checkbox:checked + .label__text .label__check .icon {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    -webkit-animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
    animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@-webkit-keyframes icon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes icon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }
    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }
    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }
    50% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 0.6;
    }
    100% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}
@keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }
    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }
    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }
    50% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 0.6;
    }
    100% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}


.dropdown-radius {
    border-radius: 1.5em;
    border: 1px solid #ccc;
}
.textarea-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
.number-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;

}
.email-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
/* input style for dashboard    */
input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);

    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
}
input[type="text"][required]:focus {
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}


.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}







/* button style  */
.ctrl-standard.fx-bubbleDown {
    color: #81a5ff;
    border-color: #007ef0;
    font-size: 18px;
}

.ctrl-standard.fx-bubbleDown::after {
    bottom: auto;
    border-radius: 0 0 $right-val2 $left-val2/0 0 $right-val1 $left-val1;
    background: #389ef0;
}
.ctrl-standard.fx-bubbleDown.is-reversed::after {
    height: 300%;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover {
    color: #f0b81f;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover::after {
    height: 0;
}
.ctrl-standard.fx-bubbleUp {
    color: #9fa255;
    border-color: #9fa255;
}
.ctrl-standard.fx-bubbleUp::after {
    top: auto;
    border-radius: $right-val1 $left-val1 0 0/$right-val2 $left-al2 0 0;
    background: #9fa255;
}
.ctrl-standard.fx-bubbleUp.is-reversed::after {
    height: 300%;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover {
    color: #9fa255;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover::after {
    height: 0;
}
.ctrl-standard.fx-sliderIn {
    color: #81aaa4;
    border-color: #81aaa4;
}
.ctrl-standard.fx-sliderIn::after {
    background: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
    width: 300%;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
    color: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
    width: 0;
}
[class*="ctrl-"] {
    padding: 5ox 10px;
    border-radius: 10px;
    border: 1px solid #231f20;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
    color: #231f20;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
    color: #231f20;
}

[class*="fx-"],
[class*="fx-"]:hover {
    transition: color 0.5s  ease-in-out;
}
[class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    transition-delay: 0.2s !important;
    overflow: hidden;
}
[class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}
[class*="fx-bubble"]::after {
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
}
[class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    transition: height 0.5s ease-in-out;
    height: 300%;
}
[class*="fx-bubble"]:disabled:hover::after {
    height: 0;
}
.fx-sliderIn::after {
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
}
.fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
}
:checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
}
/* button style */

.bubbly-button {

    display: inline-block;
    font-size: 1em;
    padding: .7em 1.5em;

    -webkit-appearance: none;
    appearance: none;
    background-color: #11d6dc;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(33, 255, 242, 0.5);
}
.bubbly-button:focus {
    outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
    transform: scale(0.9);
    background-color: #11d6dc;
    box-shadow: 0 2px 25px rgba(33, 255, 242, 0.5);
}
.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

/* part2 button style */

.bubbly-button2 {

    display: inline-block;
    font-size: 1em;
    padding: .7em 1.5em;

    -webkit-appearance: none;
    appearance: none;
    background-color: #dc77b1;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 145, 248, 0.5);
}
.bubbly-button2:focus {
    outline: 0;
}
.bubbly-button2:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.9s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button2:active {
    transform: scale(0.9);
    background-color: #dc77b1;
    box-shadow: 0 2px 25px rgba(255, 148, 231, 0.5);
}
.bubbly-button2.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.95s forwards;
}
.bubbly-button2.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.95s forwards;
}
/*file input style*/
.input-file-container {
    position: relative;
    width: auto;
}
.js .input-file-trigger {
    display: block;
    padding: 10px;
    height: 45px;
    background: #199dd2;
    border-radius: 1.5em ;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js .input-file {
    height: 30px;
    position: absolute;
    top: 0; left: 0;
    width: 255px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}
@media (max-width: 992px) {

    .averages{
        margin-top: 30px;
    }
    .media-lefts {
        float: left;
        margin-right: 80px;
        margin-top: -9px;
    }

    .media-rights {
        float: right;

    }
    .number-radius{
        width: 70px;
    }
    p.margins {
        margin-top: -25px;
        margin-right:105px;
    }
    #p1{
        visibility: hidden;
    }
}

@media (min-width: 1001px) {

   .averages{
       display: flex;
   }
    .media-lefts{
        margin-top: 23px;
    }
    .margins {
        text-align: center;
        margin-top: 34px;
        margin-right: 5px;
    }
    .number-radius{
        width: 40px;
    }
    #p2{
        visibility: hidden;
    }

}

@media (min-width: 1200px) {
    .media-rights{
        margin-right: 10px;

    }
    .number-radius{
        width: 70px;
    }
}
.text-muted1{
    color: rgba(47, 47, 47, 0.6)!important;
}
#li-margin ul{
    margin: 0px;
}
#li-margin{
    margin-top: 10px;
}

div.disabled {
    background-color: rgba(163, 153, 153, 0.14)!important;
}
.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.tooltip-sina .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 10px;
    bottom: 34px;
    right: 30px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: 0.8s;
    position: absolute;
    z-index: 1;
}
img#disableds {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}