@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #28a745;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url(..\..\..\image\student\dashboard\cancel.svg);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: right calc(0.375em + 0.1875rem);
    background-position-y: center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.invalid-feedback {

    width: 100%;
    margin-top: .25rem;
    margin-right: 5px;
    font-size: 13px;
	color: #dc3545;
}
.custom-select.is-valid~.valid-feedback, .custom-select.is-valid~.valid-tooltip, .form-control.is-valid~.valid-feedback, .form-control.is-valid~.valid-tooltip, .was-validated .custom-select:valid~.valid-feedback, .was-validated .custom-select:valid~.valid-tooltip, .was-validated .form-control:valid~.valid-feedback, .was-validated .form-control:valid~.valid-tooltip {
    display: block;
}
.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 13px;
    color: #28a745;
}
.custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}

.dropdown-radius {
    border-radius: 1.5em;
    border: 1px solid #ccc;
}
.textarea-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
.number-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
.email-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
/* input style for dashboard    */
input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);

    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
}
input[type="text"][required]:focus {
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}

/*Admin Dashboard questions*/
.question-img{
    border-radius: 10%;
    border: solid #b8c2cc;
    margin-bottom: 10px;

}
a:hover img{
    transform: scale(1.5);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;

}

.answers{
    list-style: decimal;
}
.card-footer{
    padding: .75rem 1.25rem;
    background-image: linear-gradient(to right, rgba(96, 251, 155, 0.42), rgba(49, 201, 243, 0.6));

    border-top: 1px solid rgba(0,0,0,.125);
}




.label__checkbox {
    display: none;
}
.label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
}
.label__check i.icon {
    opacity: 0.2;
    font-size: calc(0.5rem + 0.6vw);
    color: transparent;
    transition: opacity 0.3s 0.1s ease;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}
.label__check:hover {
    border: 5px solid rgba(0, 0, 0, 0.2);
}
.label__checkbox:checked + .label__text .label__check {
    -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.label__checkbox:checked + .label__text .label__check .icon {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    -webkit-animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
    animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@-webkit-keyframes icon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes icon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }
    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }
    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }
    50% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 0.6;
    }
    100% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}
@keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }
    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }
    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }
    50% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 0.6;
    }
    100% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}


.dropdown-radius {
    border-radius: 1.5em;
    border: 1px solid #ccc;
}
.textarea-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
.number-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;

}
.email-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
/* input style for dashboard    */
input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);

    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
}
input[type="text"][required]:focus {
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}


.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

/*step by step  */


.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;


}
.btn1{
    background-color: rgba(255, 255, 255, 0.36);
    color: #535353;
    border: rgb(0, 0, 0);
}






.ctrl-standard.fx-bubbleDown {
    color: #81a5ff;
    border-color: #007ef0;
    font-size: 15px;
}
.ctrl-standard.fx-bubbleDown::after {
    bottom: auto;
    border-radius: 0 0 $right-val2 $left-val2/0 0 $right-val1 $left-val1;
    background: #389ef0;
}
.ctrl-standard.fx-bubbleDown.is-reversed::after {
    height: 300%;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover {
    color: #f0b81f;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover::after {
    height: 0;
}
.ctrl-standard.fx-bubbleUp {
    color: #9fa255;
    border-color: #9fa255;
}
.ctrl-standard.fx-bubbleUp::after {
    top: auto;
    border-radius: $right-val1 $left-val1 0 0/$right-val2 $left-al2 0 0;
    background: #9fa255;
}
.ctrl-standard.fx-bubbleUp.is-reversed::after {
    height: 300%;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover {
    color: #9fa255;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover::after {
    height: 0;
}
.ctrl-standard.fx-sliderIn {
    color: #81aaa4;
    border-color: #81aaa4;
}
.ctrl-standard.fx-sliderIn::after {
    background: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
    width: 300%;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
    color: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
    width: 0;
}
[class*="ctrl-"] {
    padding: 5ox 10px;
    border-radius: 2px;
    border: 1px solid #231f20;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
    color: #231f20;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
    color: #231f20;
}

[class*="fx-"],
[class*="fx-"]:hover {
    transition: color 0.5s  ease-in-out;
}
[class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    transition-delay: 0.2s !important;
    overflow: hidden;
}
[class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}
[class*="fx-bubble"]::after {
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
}
[class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    transition: height 0.5s ease-in-out;
    height: 300%;
}
[class*="fx-bubble"]:disabled:hover::after {
    height: 0;
}
.fx-sliderIn::after {
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
}
.fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
}
:checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
}
