nav.navbar{
    display: contents;
}
hr#badge{
    margin-top: 100px;
}
p#footer-badge{
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}
span.slider-span{
    margin-right: 4.6em;
    display: block;
    background: border-box;
    line-height: 3;
}
p.slider-par{
    font-size: 16px !important;
    font-weight: 400 !important;
}
.simple-text{
    font-size: 20px!important;
}
span#addfund{
    color: #EC5574;
    font-weight: 500!important;
}
a#addfund1{
    padding: 0px 15px 0px 0px !important;

}

.card-style1{
    box-shadow: 0 1px 2px rgb(235, 243, 250), -2px 4px 14px 0px rgba(63, 63, 68, 0.1);
    background-color: #ebf3fa!important;
}
.pic-card{
    box-shadow: 0 1px 2px rgb(235, 243, 250), -2px 4px 14px 0px rgba(63, 63, 68, 0.1);
    border-radius: 10px;
    /*filter: blur(0.9px) grayscale(0.5);*/
    transition: 0.5s ;
}
.pic-card:hover{
    filter: blur(0px) grayscale(0);
}

hr#sidebar-hr{

    margin: 0px 0px 0px 0px !important;
    border-top: 1px solid #ffffff!important;
}


