nav.navbar{
    display: contents;
}
hr#badge{
    margin-top: 100px;
}
p#footer-badge{
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}
span.slider-span{
    margin-right: 4.6em;
    display: block;
    background: border-box;
    line-height: 3;
}
p.slider-par{
    font-size: 16px !important;
    font-weight: 400 !important;
}
.simple-text{
    font-size: 20px!important;
}
span#addfund{
    color: #EC5574;
    font-weight: 500!important;
}
a#addfund1{
    padding: 0px 15px 0px 0px !important;

}

.card-style1{
    box-shadow: 0 1px 2px rgb(235, 243, 250), -2px 4px 14px 0px rgba(63, 63, 68, 0.1);
    background-color: #ebf3fa!important;
}
.pic-card{
    box-shadow: 0 1px 2px rgb(235, 243, 250), -2px 4px 14px 0px rgba(63, 63, 68, 0.1);
    border-radius: 10px;
    /*filter: blur(0.9px) grayscale(0.5);*/
    transition: 0.5s ;
}
.pic-card:hover{
    /*filter: blur(0px) grayscale(0);*/
}
.sidebar .sidebar-wrapper{
    overflow: unset;
    position: absolute;
}
hr#sidebar-hr{

    margin: 0px 0px 0px 0px !important;
    border-top: 1px solid #ffffff!important;
}
.card-text1{
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width:990px) {
    .col-margin{
        margin-top: 15px;
        margin-bottom: 10px;

    }
    .card-text1{
        font-size: 4em;
    }
}

.disabled{
    cursor: not-allowed;

}
/*exam questions css*/
.colorful-shape{
    background-color: #A1CAFF;

}
.card-question{
    background-color: #566FC6 !important;
    align-content: center;
}
.question-number{
    position: absolute;
    border-radius: 100%;
    background-color: #ffffff;
    left: 47%;
    top: -27%;
    width: 50px;
    height: 50px;
}
.question-text{
    padding: 31px 22px 24px 20px;
    font-size: 2.4em;
    font-weight: 500;
}
h3.question-number-text{
    margin: 13px 0 5px!important;
}
.card-question-content{
    background-color: #A1CAFF;
    border-radius: 12px!important;
}
ul.question-answer-withoutaxe{
    padding: 40px 41px 15px 15px;
}
ul.question-answer{
    /*padding: 20px 86px 15px 15px;*/
    list-style: decimal;
    font-size: 2em;
    font-weight: 300;

}
.question-answer{
    display: flow-root;
    /*padding:25px 50px 39px 20px;*/
}

.question-answer li:nth-child(n+2){
    margin-top: 7px;
    margin-bottom: 0px;
}
.question-notice{
    padding: 41px 51px 0px 20px;
    font-family: inherit;
    font-size: 1.4em;
    float: right;
}
.question-image{
    margin: 45px 0px 20px 0px;
}
ul.question-answer-withaxe{
    padding: 0px 41px 15px 15px;
    list-style: decimal;
    font-size: 2em;
    font-weight: 300;

}
@media (min-width: 1462px) and (max-width:1654px) {


    .mr-3 {
        margin-top: 3em;

    }
}
@media (min-width: 990px) {

    .col-fright{
        float: right!important;
    }
    .col-fleft{
        float: left!important;
    }
}



.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 16px;
    margin: 15px;
}
.radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #3d4fc6;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
}
.radio:hover .label:after {
    transform: scale(3.6);
}
input[type="radio"]:checked + .label {
    border-color: #3b56c6;
}
input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
}
.question-answer label:nth-child(n+1){
    color: black!important;
    font-size: 16px!important;
    margin: 0px!important;
}
.hidden {
    display: none;
}

/*profile image */
.avatarWrapper{
    position: relative;
}
.avatar{
    background-color: #c4c4c4;
    border-radius: 100%;
    width: 108px;
    padding: 4px 4px 1px 0px;
    height: 108px;
}
.user-profile {
    right: 56%;
    transform: translate(39%,0%)!important;
}
.avatar.active {
    border-radius: 100% 0 20px 100%;
    background-color: #CC0000;
}
.avatar .uploadOverlay, .avatar .uploadCompleteOverlay {
    background-color: rgba(111, 188, 255, 0.63);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 4px;
    top: 4px;
    opacity: 0;
}
.avatar .uploadOverlay , .avatar .uploadCompleteOverlay .image-s  {
    vertical-align: bottom;
    display: inline-block;
    /*line-height: 200px;*/
    text-align: center;

    /*height: 200px;*/
    /*width: 200px;*/
    color: white;
}
.image-s{
    height: 30px!important;
    width: 30px!important;
    border-radius: 0px!important;
    top: 10px;
    position: relative;
    top: 34px;
}
.avatar:hover .uploadOverlay {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    opacity: 1;

}
.avatar .uploadCompleteOverlay {
    background-color: rgba(104, 174, 0, 0.9);
    opacity: 1;

}
svg.svg-hover{
    transition: 200ms;
    fill: #7b7b7b;
}
svg.svg-hover:hover{
fill: rgb(111, 188, 255);
}
.caret{
    transition: 200ms;
}
.caret:hover{
    fill: rgb(111, 188, 255)!important;
}
.svg-sidebar{
    float: right;
    margin-left: 15px;
    line-height: 20px;
}