@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #28a745;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url(..\..\..\image\student\dashboard\cancel.svg);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: right calc(0.375em + 0.1875rem);
    background-position-y: center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.invalid-feedback {

    width: 100%;
    margin-top: .25rem;
    margin-right: 5px;
    font-size: 13px;
	color: #dc3545;
}
.custom-select.is-valid~.valid-feedback, .custom-select.is-valid~.valid-tooltip, .form-control.is-valid~.valid-feedback, .form-control.is-valid~.valid-tooltip, .was-validated .custom-select:valid~.valid-feedback, .was-validated .custom-select:valid~.valid-tooltip, .was-validated .form-control:valid~.valid-feedback, .was-validated .form-control:valid~.valid-tooltip {
    display: block;
}
.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 13px;
    color: #28a745;
}
.custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}

.dropdown-radius {
    border-radius: 1.5em;
    border: 1px solid #ccc;
}
.textarea-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
.number-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;

}
.email-radius{
    border-radius: 1.5em;
    border:1px solid #ccc;
}
/* input style for dashboard    */
input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);

    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
}
input[type="text"][required]:focus {
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 992px) {

    .averages{
        margin-top: 30px;
    }
    .media-lefts {
        float: left;
        margin-right: 80px;
        margin-top: -9px;
    }

    .media-rights {
        float: right;

    }
    .number-radius{
        width: 70px;
    }
    p.margins {
        margin-top: -25px;
        margin-right:105px;
    }
    #p1{
        visibility: hidden;
    }
}

@media (min-width: 1001px) {

   .averages{
       display: flex;
   }
    .media-lefts{
        margin-top: 23px;
    }
    .margins {
        text-align: center;
        margin-top: 34px;
        margin-right: 5px;
    }
    .number-radius{
        width: 40px;
    }
    #p2{
        visibility: hidden;
    }

}

@media (min-width: 1200px) {
    .media-rights{
        margin-right: 10px;

    }
    .number-radius{
        width: 70px;
    }
}

/*css for footer student Dashboard */
footer {
    background: #222;
    color: #aaa;
    padding-top: 10px;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: #fff;
}

footer h3 {
    color: #0894d1;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

footer .three-column {
    overflow: hidden;
    list-style: none;
    padding-right: 5px;
}

footer .three-column li{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
}

footer .socila-list {
    overflow: hidden;
    margin: 5px 0 10px;
    float: right;
    list-style: none;
    padding-right: 0px;
}
.margin-card{
    margin-right: 10px;
    margin-left: 10px;
}
.card-header{
    margin-top: 20px;
    padding: .95rem 1.25rem;
    background-image: linear-gradient(to right, rgba(149, 52, 230, 0.33), rgba(0, 84, 255, 0.64));

    border-bottom: 1px solid rgba(0,0,0,.125);
}
.text-muteds{
    color: #564e55;
}
.btn-exam{
    border-bottom: #0b51c5;
}
.card-footer{
    margin-top: 20px;
    padding: .95rem 1.25rem;
    background-image: linear-gradient(to right, rgba(149, 52, 230, 0.33), rgba(0, 84, 255, 0.64));

    border-top: 1px solid rgba(0,0,0,.125);
}

footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
    opacity: 1;
}

footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
    width: 100px;
    height: 50px;
}

footer .copyright {
    padding: 15px 0;
    margin-top: 20px;
    font-size: 1px;
    direction: rtl;
}

footer .copyright span {
    color: #0894d1;
}
/*header*/
img.users{
    width: 30px;
    hight: 30px;
    border-radius: 50%;
}




.ctrl-standard.fx-bubbleDown {
    color: #81a5ff;
    border-color: #007ef0;
    font-size: 15px;
}
.ctrl-standard.fx-bubbleDown::after {
    bottom: auto;
    border-radius: 0 0 $right-val2 $left-val2/0 0 $right-val1 $left-val1;
    background: #389ef0;
}
.ctrl-standard.fx-bubbleDown.is-reversed::after {
    height: 300%;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover {
    color: #f0b81f;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover::after {
    height: 0;
}
.ctrl-standard.fx-bubbleUp {
    color: #9fa255;
    border-color: #9fa255;
}
.ctrl-standard.fx-bubbleUp::after {
    top: auto;
    border-radius: $right-val1 $left-val1 0 0/$right-val2 $left-al2 0 0;
    background: #9fa255;
}
.ctrl-standard.fx-bubbleUp.is-reversed::after {
    height: 300%;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover {
    color: #9fa255;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover::after {
    height: 0;
}
.ctrl-standard.fx-sliderIn {
    color: #81aaa4;
    border-color: #81aaa4;
}
.ctrl-standard.fx-sliderIn::after {
    background: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
    width: 300%;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
    color: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
    width: 0;
}
[class*="ctrl-"] {
    padding: 5ox 10px;
    border-radius: 2px;
    border: 1px solid #231f20;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
    color: #231f20;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
    color: #231f20;
}

[class*="fx-"],
[class*="fx-"]:hover {
    transition: color 0.5s  ease-in-out;
}
[class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    transition-delay: 0.2s !important;
    overflow: hidden;
}
[class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}
[class*="fx-bubble"]::after {
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
}
[class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    transition: height 0.5s ease-in-out;
    height: 300%;
}
[class*="fx-bubble"]:disabled:hover::after {
    height: 0;
}
.fx-sliderIn::after {
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
}
.fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
}
:checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.isDisabled > a {
    color: currentColor;
    /*display: inline-block;  !* For IE11/ MS Edge bug *!*/
    pointer-events: none;
    text-decoration: none;
}

.tooltip-sina .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 10px;
    bottom: 34px;
    right: 30px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: 0.8s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip-sina:hover .tooltiptext {
    visibility: visible;
}



.card
{
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    transition: 0.7s ease-in-out;
}
.cards:hover{
    box-shadow: 3px 9px 8px 3px rgba(0, 0, 0, 0.09), 0 0 0 1px rgba(63, 63, 68, 0.1);

}
/*hover shine*/



figure {

    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}
.hover14 figure {
    position: relative;
}
.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hover14 figure:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

div.disabled{
    background-color: rgba(163, 153, 153, 0.14);
}
img#disableds{

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
/*exam hoverimages style*/

#admin-answer{
    font-size: 14px;
    color: #606060;
}
.s-border{
    border-radius: 20px;
    border: 1px solid #b7bfc4;
    margin: 0px 0px 30px 0px;
    padding: 10px 10px 10px 10px;

}