.back-bg{
    background: no-repeat;
    background-size: cover;
    position: absolute;
   
    overflow: hidden;
    z-index: 1;   
}
  .back-bg::before{
    content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -4;
	position: absolute;
	background: rgba(87, 95, 109, 0.5);


}  
.main-panel > .content {
     padding: 0;
     z-index: -11;
    
     

}
h3.exam-title {
  
    right: 10%;
    margin-right: 10%;
    color: #fff;
    
   
}
.jumbotron{

    background: #fff;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
    margin: 10px 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: absolute;
    width: 90%;
  
    
   
   
}

.header{
    display: flex;
    font-size: 19px;
}
ul.header{
    list-style: none;
}
.header-item-title{
    color: gray;
}
.header-item{
    position: absolute;
    left: 7%;
}
ul.lead{
    list-style: none;
    display: flex;
    font-size: 16px;
}
.payeh{
    display: inline-flex;
}
.payeh-fitst-item{
    
    margin-left: 20px;
    font-weight: 900;
    margin-right: -20px;
}
.gerayesh{
    display: inline-flex;
    position: absolute;
    left: 10%
}
.gerayesh-first-item{
    margin-left: 20px;
    font-weight: 900;
}

h3.description-title {
    font-weight: 900;
}

p.description-body {
    font-size: 12px;
}

.shop-icon {
    

    bottom: 10%;
    left: 10%;
    background: #fff;
   
    z-index: 5;
   
 
}
i.fas.fa-cart-arrow-down {
    font-size: 15px;
    color: black;
    cursor: pointer;
    z-index: 5;
}













a.add-to-cart {
	width: 216px;
	height: 48px;
	background: #4e55d9;
	font-size: 12px;
	line-height: 48px;

	color: rgb(255, 255, 255);
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	text-decoration: none;
	text-align: center;
	left: 24px;
	
	top: 48px;
	display: block;
	box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
	-moz-box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
	-webkit-box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
}

/* a.add-to-cart.size {
	width: 48px;
	left: 108px;
	font-size: 0;
	color: #4e55d9;
	letter-spacing: 0;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-ms-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear;
} */

/* a.add-to-cart.hover {
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-ms-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transform-origin: 108px 24px;
	-moz-transform-origin: 108px 24px;
	-o-transform-origin: 108px 24px;
	-ms-transform-origin: 108px 24px;
	transform-origin: 108px 24px;
} */

a.cart {
	width: 72px;
	height: 72px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
	font-size: 18px;
	text-align: center;
	color: #616161;
	text-decoration: none;
	position: absolute;
	right: 24px;
	top: 36px;
	display: block;
	background: #535558 url(http://images.vfl.ru/ii/1484930184/14435803/15757225.png) center no-repeat;
	background-size: 36px;
	box-shadow: 0 3px 6px rgba(97, 97, 97 0.16), 0 3px 6px rgba(97, 97, 97 0.23);
	-moz-box-shadow: 0 3px 6px rgba(97, 97, 97 0.16), 0 3px 6px rgba(97, 97, 97 0.23);
	-webkit-box-shadow: 0 3px 6px rgba(97, 97, 97 0.16), 0 3px 6px rgba(97, 97, 97 0.23);
}

a.cart > span {
	width: 24px;
	height: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	position: absolute;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	display: block;
	transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #4e55d9;
	box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
	-moz-box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
	-webkit-box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
}

a.cart > span.counter {
	left: 48px;
	bottom: 48px;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-ms-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear;
	transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}